<h1>Editing course field</h1>

<%= render "form", course_field: @course_field %>

<br>

<div>
  <%= link_to "Show this course field", @course_field %> |
  <%= link_to "Back to course fields", course_fields_path %>
</div>
